<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Talking_Watch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Talking_Watch.Properties.Settings>
            <setting name="AlertTextBoxSave1" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTimeSave1" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTextBoxSave2" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTextBoxSave3" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTextBoxSave4" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTextBoxSave5" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTimeSave2" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTimeSave3" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTimeSave4" serializeAs="String">
                <value />
            </setting>
            <setting name="AlertTimeSave5" serializeAs="String">
                <value />
            </setting>
        </Talking_Watch.Properties.Settings>
    </userSettings>
</configuration>